html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(48, 203, 14);
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.msg-success {
    background: rgb(48, 203, 14);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.msg-err {
    color: red;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
}
